[user]
	name = enix403
	email = fog.code000@gmail.com

[alias]
  br = branch
  st = status
  stu = status -uno
  co = checkout
  cm = commit
  cp = cherry-pick
  sw = switch
  ss = stash
  df = diff
  mr = merge
  lgg = log --decorate --oneline --graph --color --date=short
  lg = lgg --max-count=25
  ps = push
  pl = pull
  bl = blame
  rb = rebase
  rp = rev-parse
  ft = fetch

[pager]
	branch = false
	stash = false

[init]
	defaultBranch = main

[diff]
  colorMoved = default

[push]
	autoSetupRemote = true

[credential]
	helper = oauth
	helper = cache --timeout 2592000

# ================
# Config for Delta
# ================

[core]
  pager = delta
  longpaths = true

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = zdiff3

[include]
  path = ~/dotfiles/delta/themes.gitconfig

[delta]
  features = mantis-shrimp # set theme

  # use n and N to move between diff sections
  navigate = true
  line-numbers = true
  side-by-side = true

  hyperlinks = true
  hyperlinks-file-link-format = "cursor://file/{path}:{line}"

  # Tab size
  tabs = 4

# ====================
# END Config for Delta
# ====================

[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
