[user]
	name = enix403
	email = fog.code000@gmail.com
[alias]
	br = branch
	st = status
	co = checkout
	cm = commit
	sw = switch
  ss = stash
  df = diff
  mr = merge
  lg = log --decorate --oneline --graph --color --date=short
  ps = push
  pl = pull
[pager]
	branch = false
	stash = false
[init]
	defaultBranch = main
[diff]
  colorMoved = default

# ================
# Config for Delta
# ================

[core]
  pager = delta
  longpaths = true

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = zdiff3

[include]
  path = ~/dotfiles/delta/themes.gitconfig

[delta]
  features = mantis-shrimp # set theme
  
  # use n and N to move between diff sections
  navigate = true 
  line-numbers = true
  side-by-side = true
  
  hyperlinks = true
  hyperlinks-file-link-format = "cursor://file/{path}:{line}"
[credential]
	helper = oauth
	helper = cache --timeout 2592000
[push]
	autoSetupRemote = true
