[user]
	name = enix403
	email = fog.code000@gmail.com

[alias]
  br = branch
  st = status --short
  stt = status
  stu = status --short --untracked=no
  unadd = restore --staged
  # list tracked but ignored local files
  # lowercase letters -> --assume-unchanged'd
  # S -> --skip-worktree'd
  ll = "!git ls-files -v | grep --color=always '^[hmrckusS]'"
  # list ignored files
  li = status --ignored --short
  co = checkout
  cm = commit
  cp = cherry-pick
  rs = reset
  sw = switch
  ss = stash
  tg = tag
  df = diff
  dfc = diff --cached
  dfn = diff --name-only
  dfcn = diff --cached --name-only
  mr = merge
  lgg = log --decorate --oneline --graph --color --date=short
  lg = lgg --max-count=25
  ps = push
  pl = pull
  bl = blame
  rb = rebase
  rp = rev-parse
  ft = fetch
  wt = worktree
  ui = update-index
  uia = update-index --assume-unchanged
  uina = update-index --no-assume-unchanged
  uis = update-index --skip-worktree
  uins = update-index --no-skip-worktree
  ax = annex

[pager]
	branch = false
	stash = false

[init]
	defaultBranch = main

[diff]
  colorMoved = default

[push]
	autoSetupRemote = true

[credential]
  helper = cache --timeout 259200 # 72 hours / 3 days
  helper = "!f() { \
    if [ \"$(uname)\" = \"Darwin\" ]; then \
        git credential-osxkeychain $@; \
    else \
        git credential-libsecret $@; \
    fi; \
  }; f"
	helper = oauth # use "oauth -device" if you are running e.g over ssh and cannot open browser

# ================
# Config for Delta
# ================

[core]
  pager = delta
  longpaths = true

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = zdiff3

[include]
  path = ~/dotfiles/shared/delta/themes.gitconfig

[delta]
  features = mantis-shrimp # set theme

  # use n and N to move between diff sections
  navigate = true
  line-numbers = true
  side-by-side = true

  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"

  # Tab size
  tabs = 4

# ====================
# END Config for Delta
# ====================

[color]
	ui = auto

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
	path = ~/.gitconfig.local
